:root {
    --sena-orange-color: rgb(252, 115, 35);
    --sena-orange-color-hover: rgb(255, 123, 0);
    --sena-green-color: rgb(35, 130, 118);
    --sena-complementary-green-color: rgb(89, 181, 72);
}
